<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Inicio de sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="user" position="floating">Nombre de usuario</ion-label>
    <ion-input class="user" type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="password" position="floating">Contraseña</ion-label>
    <ion-input class="password" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button class="button" (click)="onSubmit()">Iniciar sesión</ion-button>

  <ion-item>
    <ion-label class="error" *ngIf="error">USUARIO O CONTRASEÑA INCORRECTOS</ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="profe">Profe las credenciales son:</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label class="profe">Usuario: Ricardo Jorge</ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="profe">Contraseña: 123</ion-label>
  </ion-item>

</ion-content>
