<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HISTORIAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ul *ngFor="let cabina of show()">
    <li >
      <ion-label>{{ cabina.nombre }}</ion-label>
      <br>
      <ul *ngFor="let llamada of cabina.llamadas; let i = index">
        <li >
          <span>========== LLAMADA : {{ (i + 1) }} ==========</span>
        </li>
        <li >
          <span>Numero: {{ llamada.numero }}</span>
        </li>
        <li >
          <span>Duracion: {{ llamada.duracion }} min</span>
        </li>
        <li >
          <span>Precio: {{ llamada.precio }}</span>
        </li>
        <li >
          <span>===============================</span>
        </li>
      </ul>
    </li>
  </ul>
</ion-content>
