.title {
  width: fit-content;
  margin: 0 auto;
}

.btn {
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #0066cc;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.label {
    margin-bottom: 10px;
}