<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TOTAL DE VENTAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <ul *ngFor="let cabina of show(); let i = index">
      <li >
        <ion-label>{{ cabina.nombre }}</ion-label>
        <ul>
          <li>
            <span>Ventas: {{ totalPrecio(i) }} $</span>
          </li>
          <li>
            <span>Tiempo: {{ totalTiempo(i) }} minutos</span>
          </li>
          <li>
            <span>Llamadas: {{ totalLlamadas(i) }}</span>
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>
        <ion-label>Ventas Total: {{ totalP() }} $</ion-label>
      </li>
      <li>
        <ion-label>Tiempo Total: {{ totalT() }} minutos</ion-label>
      </li>
      <li>
        <ion-label>Llamadas en Total: {{ totalL() }}</ion-label>
      </li>
    </ul>
  </ion-content>  
</ion-content>
